# Firebase (создайте проект FST в console.firebase.google.com)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=fst-uchet.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fst-uchet
VITE_FIREBASE_STORAGE_BUCKET=fst-uchet.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
